* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    display: flex;

}
@keyframes container {
    0% {
       left: 0px;
        top: 10px;
    }

    25% {
      left: 5px;
        top: 0px;
    }

    50% {
       
        left: 5px;
        top: 10px
    }
    75%{
       
        left: 0px;
        top: 10px;
        
    }

    100% {
       
        left: 5px;
        top: 10px;
    }

}

/* navbar section */
.navbar-container {
    height: 95.5vh;
    background-color: #00153c;
    color: white;
    padding: 15px;
    border-right: solid 2px white;
}

.hdpt1 {
    display: inline;

}

.hdpt2 {
    display: inline;
    color: #4c7fec;
}

.navbar {
    padding: 5px;
    margin: 15px 0px;
}

.navbar-flx {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

nav h6 {
    color: transparent;
    text-shadow: -2px -2px 0.5px white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.sidebar-icon {
    margin: 3px;
    padding: 3px;
}

/* main */
.mainset {
    background-color: #00153c;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-image: url(./assets/back.jpg); */
    background-size: cover;
    
}
.lighter-mode{
    background-color: white;
   /* background-image: url(./assets/light.jpg); */
   color: #00153c;
   background-size: cover;
}
/* right-side */
.right-side{
    padding-top: 15px ;
    padding-bottom: 30px ;
    background-color: #f2f2f2;
    height: 93vh;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    margin: 5px ;
    padding: 5px ;
    margin-left: 5px;
    margin-right: 5px;
}
.right-box{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
   
}
.icons{
     margin: 2px;
    padding: 2px;
}
.btn2{
    border: none;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    border-radius: 4px;
}
.btn3{
    border: none;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
     border-radius: 4px;
}
.btn4{
    background-color: #00cccd;
    padding: 10px 20px;
    border: none;
    margin: 5px;
    text-align: center;
     border-radius: 4px;
}
.main-box{
    display: flex;
    margin: 5px;
    padding: 5px;
    position: relative;
    animation-name: container;
    animation-duration: 5s;
    animation-delay: -2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.main-box-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}

.margin-box{
    display: flex;
    background-color: #00153c;
    color: white;
    margin: 10px;
    padding: 15px;
    width: 250px;
    padding-bottom: 35px;
    justify-content: space-between;
     border-radius: 2px;
}



.affiliate-box{
    display: flex;
    background-color: #00153c;
    color: white;
    margin: 10px;
    padding: 15px;
    width: 250px;
    padding-bottom: 35px;
    justify-content: space-between;
    border-radius: 2px;
}

/* main box right */


.graph-img{
    margin: 3px;
    width: 700px;
    padding: 3px;
    height: 300px;

}
/* ======================= RESPONSIVE MEDIA QUERIES ======================= */

/* Tablet - 1024px and below */
@media (max-width: 1024px) {
    .main-box {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    
    .graph-img {
        width: 100%;
        max-width: 600px;
        height: 250px;
    }
    
    .margin-box, .affiliate-box {
        width: 300px;
    }
}

/* Tablet - 768px and below */
@media (max-width: 768px) {
    .box {
        flex-direction: column;
    }
    
    .navbar-container {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: solid 2px white;
    }
    
    .mainset {
        width: 100%;
        padding: 20px;
    }
    
    .right-side {
        height: auto;
        min-height: auto;
    }
    
    .header {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    
    .right-box {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .btn2, .btn3, .btn4 {
        padding: 8px 15px;
        margin: 3px;
    }
}

/* Mobile - 480px and below */
@media (max-width: 480px) {
    .mainset {
        padding: 15px;
    }
    
    .main-box {
        gap: 20px;
    }
    
    .margin-box, .affiliate-box {
        width: 100%;
        max-width: 280px;
        padding: 12px;
    }
    
    .graph-img {
        height: 200px;
    }
    
    h1 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.3rem;
    }
    
    h4 {
        font-size: 1.1rem;
    }
    
    .navbar-flx {
        align-items: center;
    }
    
    .navbar-flx ul {
        align-items: center;
    }
}

/* Small Mobile - 320px and below */
@media (max-width: 320px) {
    .navbar-container {
        padding: 10px;
    }
    
    .mainset {
        padding: 10px;
    }
    
    .margin-box, .affiliate-box {
        width: 100%;
        padding: 10px;
    }
    
    .graph-img {
        height: 180px;
    }
    
    .btn2, .btn3, .btn4 {
        padding: 6px 12px;
        font-size: 0.9rem;
    }
    
    h1 {
        font-size: 1.3rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }
}